body{
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.btn-container{
    display: flex;
    justify-content: center;
    
}

.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.purple{
    background-color: purple;
}
.green{
    background-color: #63aac0;
}

.flash{
    background-color: white;
}

/* .gameover{
    background-color: red;
} */
